:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

canvas {
    filter: blur(1px);
}